@import url("https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;&family=Ruda:wght@400;600;700&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
}

:root{

	--light: #black;
	--primary: #1976d2;
	--light-primary:#cfe8ff;
	--grey: #fff;
	--dark-grey: #aaaaaa;
	--dark: #363949;
	--danger: #d32f2f;
	--light-danger: #fecdd3;
	--waring: #fbc02d;
	--light-waring: #fff2c6;
	--success: #388e3c;
	--light-success: #bbf7d0;
	--white: white;
}


body{
	justify-content: center;
	height: 100vh;
	background-color: var(--light);
	font-family: "poppins",sans-serif;
}

/*---------nav_bar_start--------*/
.header{
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	background: grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo a img{
	height: 30px;
	width: 65px;

}

.navbar a{
	position: relative;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	margin: 40px;
}

.navbar a::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width:0;
	height: 2px;
	background: #fff;
	transition: .3s;
}
.navbar a:hover::before {
	width:100%;
}
/*---------nav_bar_end--------*/

.Hotel{

	max-width: 1280px;
	width: 100%;
	margin: 78px auto;
	background-color: var(--grey);
	border-radius: 5px;
	box-shadow: 5px 5px 10px #000;
	overflow-x: hidden;
}

/*----------Income_Start--------*/
.income{
	height: 10%;
	width: 100%;
	border: 2px solid black;

}
.income h1{
	text-align: center;
}

label{
	 display: inline-block;
	 margin-bottom: 8px;
 }


/*----------Income_End--------*/



/*----------Button-Start---------*/
.btn{
	height: 40px;
	width: 80px;
	background-color: var(--danger);
	color: var(--grey);
	margin-left: 314px;
	margin-bottom: -10px;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover{
	transform: translateY(-10px);
}
/*----------Button-End---------*/

/*----------Room_Income_Start--------*/
.Room{
	height: 90%;
	width: 100%;
	display: inline-block;
	border: 2px solid black;

}


.tbl_content{
 	padding: 2rem;
 	margin: 1rem 2rem;
 	border-radius: 5px;

 }
.tbl_content h3{
	font-size: 2rem;
	margin: 1rem 0;
	text-align: center;

}


.tbl_tr_content{
	display: grid;
	list-style-type: none;
	grid-template-columns: 1fr 20% 10% 20% 10% 2fr;
	align-items: center;
	background-color: var(--dark);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 7px;
	margin: 0.5rem 0;
	cursor: pointer;
}

.tbl_data{
	overflow-y: auto;
	height: 150px;
}

.tbl_tr_content button{
	outline: none;
	border: none;
	color: var(--light);
	padding: 0.4rem;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--danger);
}


.tbl_tr_content button:active{
	transform: scale(0.98);

}

.tbl_tr_content button:first-child{
	background-color: var(--success);
}

.total-income{
	height: 100%;
	width: 100%;
	border: 2px solid black;
}
/*----------Room_Income_End--------*/


/*----------dollar icon--------*/

.total-income {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 1.5rem;
	padding: 1rem;
}

.total-income li{
	padding: 1.8rem;
	
	border-radius: 33px;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.total-income  li:hover{
	transform: translateY(-10px);

}


.total-income  li .bx{
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.total-income  li:nth-child(1) .bx{
 	background-color: var(--light-primary);
 	color: var(--primary);

 }

 .total-income  li .info h2{
 	font-size: 1.5rem;
 	font-weight: 600;
 	color: var(--dark);
 }


 .total-income  li .info p{
 	color: var(--dark);
 }

/*----------dollar icon end--------*/



